---
---

@charset "utf-8";

// Bootstrap Variables
$brand-primary:             #F05F40 !default;

$font-family-sans-serif:    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:         "Merriweather", Georgia, "Times New Roman", Times, serif !default;
$font-family-base:          $font-family-serif !default;
$headings-font-family:      $font-family-sans-serif !default;
$headings-font-weight:      700 !default;

$spacer:                    1rem;
$headings-margin-bottom:    $spacer;

$enable-flex:               true !default;

@import "bootstrap-sass/bootstrap";

// Fontawsome Variables
$fa-font-path:        "/vendor/font-awesome/fonts" !default;

@import "fontawsome-sass/font-awesome";

// Bootsrap overrides
.container-fluid {
  max-width: 1140px;
}

// Project Variables
$brand-dark:                $gray-dark;
$brand-white:               white;
$brand-background:			    #392f25;

@include bg-variant('.bg-dark', $gray-dark);
@include bg-variant('.bg-light', $gray-lightest);

.bg-light {
  color: $body-color !important;
}

@import "project";
