<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    test: {
      apiKey: "AIzaSyA5-592fUq1D42RsZ417oIGOsiZ2101fpk",
      authDomain: "little-lilly-test.firebaseapp.com",
      databaseURL: "https://little-lilly-test.firebaseio.com",
      storageBucket: "little-lilly-test.appspot.com"
    },
    prod: {
      apiKey: "AIzaSyCXqEvxSBF76_5MnxpaMf5M5_8tysZAdJU",
      authDomain: "little-lilly.firebaseapp.com",
      databaseURL: "https://little-lilly.firebaseio.com",
      storageBucket: "little-lilly.appspot.com"
    }
  };

  console.log(window.location.host);

  if (window.location.host == 'www.littlelilly.no') {
    console.log("Firebase: Little Lilly");
    firebase.initializeApp(config.prod);
  } else {
    console.log("Firebase: Little Lilly Test");
    firebase.initializeApp(config.test);
  }
</script>
