<!--suppress HtmlUnknownTarget, HtmlUnknownTarget, HtmlUnknownTarget -->
<nav id="mainNav" class="navbar navbar-fixed-top navbar-light">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <ul class="nav navbar-nav pull-xs-right" ng-controller="NavBarController">

      {% if page.slug == 'app' %}
        <li class="nav-item">
          <a class="nav-link" ui-sref="app.account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="app.preview">Preview</a>
        </li>
        <li class="nav-item">
        <a class="nav-link btn" ng-click="signOut()">Sign Out</a>
      </li>
      {% endif %}

      {% if page.slug != 'app' %}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link login btn" href="{{ site.baseurl }}/login">Log In</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
