<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

<!-- Plugin JavaScript -->
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/jquery/jquery.easing.min.js"></script>
<script src="vendor/jquery/jquery.fittext.js"></script>
<script src="vendor/jquery/jquery.magnific-popup.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/main.js"></script>
