.list-group {

  text-align: left;
  color: $brand-dark;

  a {
    color: $brand-dark;
    &:hover {
      color: $brand-primary;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  .list-group-item {
    margin-bottom: 0.75rem;
    border-color: $gray-lighter;
    border-radius: $list-group-border-radius;
    padding: 1.25rem;

    display: flex;
    justify-content: flex-start;

    .list-group-icon {

      margin: -1.25rem;
      margin-right: 0;
      padding: 0 1.25rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .bg-white & {
        border-top-left-radius: $list-group-border-radius;
        border-bottom-left-radius: $list-group-border-radius;
        background-color: $brand-primary;
        margin-right: 1.25rem;
      }

      i {
        color: $brand-primary;

        .bg-white & {
          color: $brand-white;
        }

        font-size: 20px;
      }
    }
  }
}
