.app-index {
  .page-section:not(.site-footer) .container-fluid {
    max-width: 800px;
    h3 {
      margin-top: $spacer*3;
      margin-bottom: $spacer*2;
    }
  }
  .content {
    max-width: 480px;
    margin: 0 auto;
  }
  .greeting {
    max-height: 120mm;
    align-self: flex-end;
    .greeting-text {
      white-space: pre-line;
    }
  }
  .page-section {
    &.profile {
      margin-bottom: -40px;
    }
    &.letter {
      .photos {
        img {
          display: inline-block;
          width: 80px;
          margin: 5px;
        }
      }
      .recipients {
        .recipient-address {
          white-space: pre-line;
        }
        form {
          width: 100%;
          text-align: center;
        }
      }
    }
    &.address-labels {
      .row {
        align-items: flex-start;
        justify-content: flex-start;
      }

      .address-label {
        padding: 5mm 10mm;
        .recipient-address {
          white-space: pre-line;
        }
      }
    }
    &.preview {
      .cover {
        padding: 50px 0;
      }
      .letter {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        margin: 0 auto;
        width: 210mm;
        border: 1px solid #999;
        border-bottom: 0;
        box-sizing: content-box;
        .greeting,
        .photo {
          position: relative;
          display: flex;
          width: 105mm;
          padding: 10mm 5mm;
          box-sizing: border-box;
          &:nth-child(4n+1),
          &:nth-child(4n+2) {
            border-bottom: 1px solid #ccc;
            height: 148.6mm;
          }
          &:nth-child(4n+3),
          &:nth-child(4n+0) {
            height: 149mm;
            border-bottom: 1px solid #999;
          }
          &:nth-child(4n+1)::after {
            content: "fold line";
            position: absolute;
            color: #bbb;
            font-size: 85%;
            right: -10mm;
            bottom: -6mm;
            background: white;
            padding: 3mm;
            z-index: 10;
          }
          p {
            margin: 0;
            padding: 3mm 2mm;
            width: 90mm;
            text-align: center;
          }
        }
        .greeting {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          p {
            font-size: 10pt;
            line-height: 16pt;
            align-content: center;
          }
        }
        .photo {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          flex-direction: column;
          &:nth-child(4n+1),
          &:nth-child(4n+2) {
            flex-direction: column-reverse;
          }
          &:nth-child(4n+2),
          &:nth-child(4n+0) {
            align-items: flex-start;
          }
          img {
            padding: 1mm;
            border: 1px solid #ccc;
            width: 90mm;
          }
          p {
            font-family: $font-family-sans-serif;
            font-size: 8pt;
            line-height: 11pt;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}

// Navigation
#mainNav {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
  .navbar-brand {
    @include transition-all();
    color: fade-out($brand-white, 0.5);
    &:hover {
      color: $brand-primary;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding-top: 10px;
        padding-bottom: 7px;
        font-size: 80%;
        @include transition-all();
        color: fade-out($brand-white, 0.5);
        &:hover {
          color: $brand-primary;
        }
        &.btn {
          margin-top: 2px;
          padding-top: .425rem;
          padding-bottom: .425rem;
          border-color: fade-out($brand-white, 0.5);
          &:hover {
            color: $brand-white;
          }
        }
      }
    }
  }
  &.scrolled {
    background-color: $brand-white;
    border-bottom: 1px solid fade-out($brand-dark, 0.9);
    .navbar-brand {
      color: $brand-dark;
      &:hover {
        color: $brand-primary;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $brand-dark;
          &:hover {
            color: $brand-primary;
          }
          &.btn {
            border-color: $brand-dark;
            &:hover {
              border-color: $brand-primary;
            }
          }
        }
      }
    }
  }
}

// Pages
.page-background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 500px;
  background-color: $brand-dark;
  @include background-cover();
}

.page-background-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 500px;
  background: fade-out($brand-background, 0.4);
}

.page-section {
  @include background-cover();
  padding: 100px 0;
  &.bg-white + .bg-white {
    padding-top: 0;
  }
  .actions {
    margin-top: 60px;
  }
  .row {
    align-items: center;
    justify-content: center;
    margin-bottom: -30px;
    .block {
      margin-bottom: 30px;
    }
  }
  .block {
    // More than 4 blocks not supported
    @extend .col-xs-12;
    // 4 blocks
    &:nth-child(1):nth-last-child(4),
    &:nth-child(2):nth-last-child(3),
    &:nth-child(3):nth-last-child(2),
    &:nth-child(4):nth-last-child(1) {
      @extend .col-lg-3;
      @extend .col-md-6;
    }
    // 3 blocks
    &:nth-child(1):nth-last-child(3),
    &:nth-child(2):nth-last-child(2),
    &:nth-child(3):nth-last-child(1) {
      @extend .col-sm-4;
    }
    // 2 blocks
    &:nth-child(1):nth-last-child(2),
    &:nth-child(2):nth-last-child(1),
    {
      @extend .col-md-6;
    }
    &:first-child:last-child {
      @extend .col-xs-12;
      text-align: center;
      max-width: $content-width-max;
    }
    img {
      width: 100%;
    }
  }
  &.page-content {
    padding-bottom: 0;
    color: $brand-white;
    .block {
      max-width: 800px !important;
      .page-heading {
        margin-top: 50px;
        h1:last-child {
          margin-bottom: 50px;
        }
        p {
          max-width: $content-width-max;
          margin-left: auto;
          margin-right: auto;
          :last-child {
            margin-bottom: 0;
          }
        }
      }
      .content {
        padding: 60px;
        background: $brand-white;
        color: $brand-dark;
        width: 100%;
        border-radius: $border-radius;
        text-align: left;
        blockquote p {
          border-left: 3px solid $brand-primary;
          padding: 0 20px;
          margin: 20px;
          font-size: 120%;
          font-style: italic;
          @extend .text-muted;
        }
      }
    }
  }
  &.blurbs {
    text-align: center;
    .row {
      align-items: flex-start;
    }
    i.fa {
      @extend .fa-4x;
      color: $brand-primary;
    }
    // New Icon Class using Simple Line Icons instead of Font Awesome - To give things a bit more unique of a look?
    i.icon {
      @extend .fa-4x;
      color: $brand-primary;
    }
    h3 {
      font-size: 24px;
    }
    p {
      @extend .text-muted;
    }
  }
  &.gallery {
    padding: 0;
    .row {
      margin: 0;
      .block {
        padding: 0;
        margin-bottom: 0;
        a {
          position: relative;
          display: block;
          .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: fade-out($brand-primary, 0.5);
            opacity: 0;
            @include transition-all;
            i {
              color: $brand-white;
              font-size: 40px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          &:hover {
            .overlay {
              opacity: 1;
            }
          }
          &:focus,
          &:active {
            outline: none;
          }
        }
      }
    }
  }
  &.contact {
    .content {
      p {
        margin-bottom: 60px;
      }
    }
  }
  &.team {
    .row {
      align-items: flex-start;
    }
    .team-image {
      position: relative;
      .team-image-social-icons {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 1;
        width: 100%;
        text-align: center;
        padding: 20px;
        @include transition-all;
        ul {
          display: inline-block;
          margin: 0 auto;
          li {
            display: inline-block;
            margin: 0 5px;
            a {
              display: block;
              height: 40px;
              width: 40px;
              line-height: 40px;
              border-radius: 100%;
              background: $brand-primary;
              color: white;
              @include transition-all;
              &:hover {
                background: white;
                color: $brand-primary;
              }
            }
          }
        }
      }
      &:hover {
        .team-image-social-icons {
          opacity: 1;
        }
      }
    }
    .team-info {
      padding: 20px;
      text-align: center;
      color: white;
      background-color: $brand-primary;
      .team-info-name {
        font-size: 110%;
      }
      .team-info-title {
        font-size: 70%;
        opacity: 0.7;
      }
    }
    @media (min-width: 768px) {
      .team {
        .team-image-overlay {
          display: visible;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $brand-primary;
          height: 100%;
          width: 100%;
          opacity: 0;
          @include transition-all;
        }
        .team-image-social-icons {
          opacity: 0;
        }
        &:hover {
          .team-image-overlay {
            opacity: 0.2;
          }
          .team-image-social-icons {
            opacity: 1;
          }
        }
      }
    }
  }
  &.hero {
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    .header-overlay {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: fade-out($brand-background, 0.4);
    }
    .content {
      font-size: $font-size-lg;
      max-width: 80%;
      margin: 0 auto;
    }
    .actions {
      a:last-child {
        @extend .btn-primary;
        margin-left: 0;
      }
    }
    .block {
      text-align: center;
      max-width: 800px !important;
    }
    @include media-breakpoint-up(md) {
      min-height: 100vh;
    }
  }
  &.site-footer {
    padding-bottom: 50px;
    font-size: $font-size-sm;
    h3 {
      font-size: $font-size-base;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    .row {
      align-items: flex-start;
    }
    .block {
      text-align: center;
      @include media-breakpoint-up(sm) {
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.contact-form {
  .form-group {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 0;
    .form-control,
    form input {
      padding: 15px 20px;
      border: 1px solid $gray-lighter;
      &:focus {
        border: 1px solid $brand-primary;
      }
    }
    label {
      color: fade-out($brand-dark, 0.75);
      margin-bottom: 0;
    }
    label.error {
      position: absolute;
      bottom: 0;
      color: $brand-primary;
      font-size: 75%;
    }
    button {
      margin-bottom: 14px;
    }
  }
  &.form-dark {
    .form-group label {
      color: fade-out($brand-white, 0.75);
    }
  }
}
