// Mixins

@mixin fade($color, $opacity: 0.8) {
  color: transparentize($color, 1-$opacity);
}

@mixin transition-all()
{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin button-outline($color) {
  @include button-outline-variant($color);

  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: transparentize($color, 0.8);
  }
  @include hover {
    background-color: transparentize($color, 0.8);
  }
}
