@import "mixins";
@import "buttons";
@import "page-sections";

html,
body {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

hr {
  display: inline-block;
  border-color: $brand-primary;
  border-width: 3px;
  width: 50px;
  max-width: 100%;

  .bg-primary & {
    border-color: white;
  }
}

h1, h2, h3 {
  margin-top: $spacer*2;
  &:first-child {
    margin-top: 0;
  }
}

h1, h2 {
  +hr {
    margin-bottom: 60px;
  }
}

h3 {
  +hr {
    margin-bottom: 30px;
  }
}

p {
  .bg-primary &, .bg-dark & {
    @include fade($brand-white);
  }
}

form {

  label {
    display: block;
    text-align: left;
    @extend .text-muted;
    font-size: $font-size-sm;
  }

  fieldset {
    @extend .form-group;
    margin-bottom: 1.5rem;
  }

  input {
    @extend .form-control;
  }

  span.note {
    display: inline-block;
    @include fade($body-color);
    font-size: $font-size-sm;
    margin-top: 60px;
  }

  button {
    @extend .btn;
    @extend .btn-primary;
  }

  .bg-dark &, .bg-primary & {

    label {
      color: white;
    }

    input {
      border: none;
    }

    span.note {
      @include fade($brand-white, 0.5);
    }
  }

  .bg-primary & {

    button {
      @extend .btn-white;
    }
  }
}

.actions {
  @extend .btn-group;

  a {
    @extend .btn;
    @extend .btn-outline-primary;

    .bg-dark &, .bg-primary & {
      @extend .btn-outline-white;
    }
  }
}
