<!--suppress HtmlUnknownTarget -->
<section class="page-section basic bg-{{ include.section.background | default: 'white' }}" id="{{ section.id }}">
  <div class="container-fluid">
    <div class="row">

      <div class="block">
       {% include page-sections/partials/content.html section=include.section %}
      </div>

      {% if include.section.image %}

      <div class="block">
        <img src="{{ include.section.image }}" />
      </div>

      {% endif %}

    </div>
  </div>
</section>
