<section class="page-section blurbs bg-{{ include.section.background | default: 'white' }}" id="{{ section.id }}">
  <div class="container-fluid">
    <div class="row">

      <div class="block">
       {% include page-sections/partials/content.html section=include.section %}
      </div>

    </div>
    <div class="row">
      {% for blurb in include.section.blurbs %}
      <div class="block">
        <i class="fa {{ blurb.icon }}"></i>
        <h3>{{ blurb.title }}</h3>
        {{ blurb.content || markdownify }} <br/>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
