<footer class="page-section site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="block">
        {% include page-sections/partials/header.html title="About Little Lilly" size="h3" %}
        <p>Little Lilly is a small family run business operating out of Rodeløkka (Oslo, Norway).</p>
        <p><a href="#">Read more about us</a></p>
      </div>
      <div class="block">
        {% include page-sections/partials/header.html title="The serious stuff" size="h3" %}
        <ul>
          <li><a href="#">Imprint</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Contact information</a></li>
        </ul>
      </div>
      <div class="block">
        {% include page-sections/partials/header.html title="Lets be friends" size="h3" %}
        <ul>
          <li><a href="#">Little Lilly on Instagram</a></li>
          <li><a href="#">Benedicte on Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
