<section class="page-section bg-{{ include.section.background }}" id="about">
  <div class="container">
    <div class="row">

      {% if include.section.image %}

      <div class="col-lg-6">

       {% include page-sections/partials/content.html section=include.section %}

      </div>
      <div class="col-lg-6">
        <img src="{{ include.section.image }}" />
      </div>

      {% else %}

      <div class="col-lg-6 col-lg-offset-3 text-center">

        {% include page-sections/partials/content.html section=include.section %}

      </div>

      {% endif %}

    </div>
  </div>
</section>
