<section class="page-section signup bg-{{ include.section.background }}" id="{{ section.id }}">
  <div class="container">
    <div class="row">

      <div class="block">
       {% include page-sections/partials/content.html section=include.section %}

        <form>
          <fieldset>
            <label for="name">Name</label>
            <input type="email" id="name">
          </fieldset>
          <fieldset>
            <label for="email">Email address</label>
            <input type="email" id="email">
          </fieldset>
          <fieldset>
            <button type="submit">{{ include.section.form.submit | default: "Sign me up" }}</button>
          </fieldset>

          {% if include.section.form.note %}

          <fieldset>
            <span class="note">{{ include.section.form.note }}</span>
          </fieldset>

          {% endif %}
        </form>
      </div>

    </div>
  </div>
</section>
