<section class="page-section team bg-{{ include.section.background | default: 'white' }}" id="{{ section.id }}">
  <div class="container-fluid">
    <div class="row">
      <div class="block">
       {% include page-sections/partials/content.html section=include.section %}
      </div>
    </div>
    <div class="row">
      {% for member in include.section.team %}
      <div class="block">
        <img src="{{ member.image | default: '/uploads/avatar.jpg' }}"><br/>
        {{ member.name }} <br/>
        {{ member.title }} <br/>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
