<header class="page-section header bg-primary" ng-controller="ProfileController">
  <div class="container-fluid">

    <h1><span ng-bind="profile.name | username"></span></h1>
    <hr>
    <div class="content">

      <ul class="list-group" ng-if="user">
        <li class="list-group-item">
          <div class="list-group-icon">
            <i class="icon-envelope"></i>
          </div>
          <div class="list-group-content">
            <span ng-bind="user.email"></span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="list-group-icon">
            <i class="icon-wallet"></i>
          </div>
          <div class="list-group-content">
            <span ng-bind="profile.credits"></span> credits
          </div>
        </li>
        <li ng-if="profile.ig_accounts" class="list-group-item">
          <div class="list-group-icon">
            <i class="icon-social-instagram"></i>
          </div>
          <div class="list-group-content">
            <span ng-repeat="account in profile.ig_accounts">
              <a href="http://instagram.com/{{account.username}}">{{account.username}}</a>
              <span ng-show="!$last"> / </span>
            </span>
          </div>
        </li>
      </ul>
      <a ng-click="authIGAccount()" ng-if="!profile.ig_accounts" class="btn btn-white btn-block">Connect to Instagram</a>
      <div class="actions">
        <a ng-click="signOut()">Log out</a>
      </div>
    </div>
  </div>
</header>

<section class="page-section letter bg-white" ng-controller="LetterController">
  <div class="container-fluid">

    <div ng-hide="letter.name">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
    <div ng-show="letter.name">
      <h2 ng-bind="letter.name"></h2>
      <hr>
      <div class="content" ng-controller="GreetingController">
        Status: {{status | json}}<br/>
        Greeting: {{greeting | json}}<br/>

        <p class="text" ng-show="status == 'PREVIEW'">
          <span ng-bind="greeting.text" ng-if="greeting.text"></span>
        </p>

        <p ng-show="status == 'PREVIEW'">
          <button type="button" class="btn" ng-class="greeting.text ? 'btn-link' : 'btn-primary'" aria-hidden="true" ng-click="status= 'EDIT'">
            <i ng-class="greeting.text ? 'icon-note' : 'icon-plus'" aria-hidden="true"></i> {{greeting.text ? "Edit greeting" : "Add greeting"}}
          </button>
        </p>

        <form ng-show="status != 'PREVIEW'">
          <div class="form-group">
            <textarea class="form-control" rows="9" ng-model="greeting.text" ng-readonly="status == 'PROCESS'">
            </textarea>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-link" ng-click="status = 'CANCEL'">
              Cancel
            </button>
            <button type="submit" class="btn" ng-click="status = 'SAVE'">
              Save
            </button>
          </div>
        </form>

      </div>

      <p class="photos">
        <a ng-repeat="photo in letter.photos" ng-href="{{photo.link}}"><img ng-src="{{photo.images.low_resolution.url}}" /></a>
      </p>

      <div class="content">
        <h3>Recipients</h3>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="recipient in letter.recipients">
            <div class="list-group-content">
              {{recipient.name}}
            </div>
            <a class="btn btn-link list-group-action"><i class="icon-note"></i> Edit</a>
          </li>
        </ul>
        <a class="btn btn-link"><i class="icon-plus"></i> Add recipient</a>
      </div>

    </div>

  </div>
</section>

<section class="page-section archive bg-white" ng-if="archive.length > 0">
  <div class="container-fluid">
    <h2>Account history</h2>
    <hr>
    <div class="content">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="letter in archive | orderBy:'-$id' track by letter.$id">
          <span ng-bind="letter.name"></span>
        </li>
      </ul>
    </div>

  </div>
</section>
