<div class="page-section admin-status">
  <div class="container-fluid">
    <div class="user" ng-repeat="user in users" ng-controller="AdminUserStatusController">
      <p class="m-b-1"><strong>{{ userFullName }}</strong><br/>
        <small>{{ uid }}</small><br/>
        {{ name }}<br/>
        <small>{{ timeframe.start }} - {{ timeframe.end }}</small>
      </p>
      <ul class="m-b-2 list-unstyled" ng-if="!postponed">
        <li>
          Photos <span class="icon m-l-1 m-r-1" ng-class="photoCount >= 3 ? 'icon-check' : 'icon-close'"></span>
          {{ photoCount }} Photos
        </li>
        <li>
          Greeting <span class="icon m-l-1 m-r-1" ng-class="greetingText ? 'icon-check' : 'icon-close'"></span>
          {{ greetingText | limitTo:50 }}
        </li>
        <li>
          Recipients <span class="icon m-l-1 m-r-1" ng-class="recipientCount > 0 ? 'icon-check' : 'icon-close'"></span>
          {{ recipientCount }} Recipient
        </li>
      </ul>
      <ul class="m-b-2 list-unstyled" ng-if="postponed">
        <li>
          Postponed <span class="icon m-l-1 m-r-1 icon-check"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
