<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top">

    {{ content }}

    {% for section in page.sections %}
      {% case section.type %}
        {% when 'hero' %}
          {% include page-sections/hero.html section=section %}
        {% when 'signup' %}
          {% include page-sections/signup.html section=section %}
        {% else %}
          {% if section.blurbs %}
            {% include page-sections/blurbs.html section=section %}
          {% elsif section.images %}
            {% include page-sections/gallery.html section=section %}
          {% else %}
            {% include page-sections/basic.html section=section %}
          {% endif %}
      {% endcase %}
    {% endfor %}

    {% include page-sections/footer.html %}
    {% include scripts.html %}

  </body>

</html>
