<div ng-controller="SignUpFormController">
  <form ng-submit="signUp()" class="contact-form">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <label>Firstname</label>
        <input type="text" class="form-control" id="firstname" placeholder="{{ page.form.placeholders.firstname }}" ng-model="firstname">
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <label>Lastname</label>
        <input type="text" class="form-control" id="lastname" placeholder="{{ page.form.placeholders.lastname }}" ng-model="lastname">
      </div>
      <div class="form-group col-xs-12">
        <label>E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="{{ page.form.placeholders.email }}" ng-model="email">
      </div>
      <div class="form-group col-xs-12">
        <label>Password</label>
        <input type="password" class="form-control" id="password" placeholder="{{ page.form.placeholders.password }}" ng-model="password">
      </div>
      <div class="form-group col-xs-12">
        <p class="text-muted" ng-show="error" ng-bind="error"></p>
        <button type="submit" class="btn btn-primary btn-block">
          {{ page.form.buttons.submit | default: 'Sign up' }}
          <i class="fa fa-spinner fa-pulse fa-fw" ng-show="submitting"></i>
        </button>
      </div>
    </div>
  </form>
</div>
